.page-logo {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
}

.form-control{
  display: block;
    width: 50%;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

/*css for create roles button*/
*{font-family: 'Roboto', sans-serif;}

.option-input {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 50px;
  margin: 50px;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 30px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

body label {
  display: block;
  line-height: 20px;
}

/*upload file button*/
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

/* for link download Templatet*/
.download {
  background-color: #3c8dbc;
  border: 1px solid #367fa9;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
}


/*css for dropdown picking*/
.selectpicker{
  padding: 6px 12px;
}

#date{
  width: 170px;
}

/*css for product create*/

/*css for Dashboard*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 7px;
  }

.outer-card {
    padding: 10px;
}

.card-header, .card-body{
    padding: 10px;
}

.card-header{
    border: 1px solid #dddddd;
    transition: 0.3s;
    width: 100%;
    text-align: center;
    border-radius: 1px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    opacity: 0.83;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.fa-sort, .fa-sort-desc, .fa-sort-asc, .fa-sort-alpha-asc {
  padding: 0px 6px;
}

th a{
  color: black;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
